<!DOCTYPE html>
<head>
  <title>Ammar-Bot</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='ammar.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <form action="/" method="post">
  <div class="ammar-bot">
  <img src="{{ url_for('static', filename='ammar.png') }}" width="200"/>
  <h3>Ammar-Bot</h3>
    <input type="text" name="ammar-question" placeholder="Ask me a question"  />
  {% if ammar_result %}
  <div class="ammar_result">{{ ammar_result }}</div>
  {% endif %}
</div>
<hr>
<div class="generic-bot">
  <img src="{{ url_for('static', filename='robot.png') }}" width="200"/>
  <h3>Generic-Bot</h3>
    <input type="text" name="generic-question" placeholder="Ask me a question"  />
  {% if generic_result %}
  <div class="generic_result">{{ generic_result }}</div>
  {% endif %}
</div>
<input type="submit" value="Ask" />
</form>

</body>
